<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaptureEnabled" value="True" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Library"
			  switchName="sourceSwitch"
			  switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="myListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Verbose"/>
      <!-- Verbose switch -->
    </switches>
    <sharedListeners>
      <add name="myListener"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="Listener.log">
        <!-- save to file -->
        <filter type="System.Diagnostics.SourceFilter"
				  initializeData="Library"/>
        <!-- for Library source only -->
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>