<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="CaptureEnabled" value="True" />
  </appSettings>-->
  <system.diagnostics>
    <sources>
      <source name="Browser"
			  switchName="sourceSwitch"
			  switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="outputPanelListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information"/>
      <!-- Verbose switch -->
    </switches>
    <sharedListeners>
      <add name="outputPanelListener"
			  type="Lextm.SharpSnmpLib.Browser.OutputPanelTraceListener, Browser">
        <!-- save to file -->
        <filter type="System.Diagnostics.SourceFilter"
				  initializeData="Browser"/>
        <!-- for Library source only -->
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>