<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <aliases>
      <add alias="NotificationPanel" type="Lextm.SharpSnmpLib.Browser.NotificationPanel, Browser"/>
      <add alias="MibTreePanel" type="Lextm.SharpSnmpLib.Browser.MibTreePanel, Browser"/>
      <add alias="ModuleListPanel" type="Lextm.SharpSnmpLib.Browser.ModuleListPanel, Browser"/>
      <add alias="AgentProfilePanel" type="Lextm.SharpSnmpLib.Browser.AgentProfilePanel, Browser"/>
      <add alias="DockContent" type="WeifenLuo.WinFormsUI.Docking.DockContent, WeifenLuo.WinFormsUI.Docking"/>
      <add alias="IProfileRegistry" type="Lextm.SharpSnmpLib.Browser.IProfileRegistry, Browser"/>
      <add alias="ProfileRegistry" type="Lextm.SharpSnmpLib.Browser.ProfileRegistry, Browser"/>
      <add alias="IObjectRegistry" type="Lextm.SharpSnmpLib.IObjectRegistry, SharpSnmpLib"/>
      <add alias="ObjectRegistry" type="Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry, SharpSnmpLib.Mib"/>
      <add alias="OutputPanel" type="Lextm.SharpSnmpLib.Browser.OutputPanel, Browser"/>
      <add alias="Manager" type="Lextm.SharpSnmpLib.Messaging.Manager, SharpSnmpLib.Controls"/>
      <add alias="Listener" type="Lextm.SharpSnmpLib.Messaging.Listener, SharpSnmpLib.Controls"/>
      <add alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </aliases>
    <containers>
      <container name="browser">
        <register type="Listener">
          <lifetime type="singleton"/>
        </register>
        <register type="Manager">
          <lifetime type="singleton"/>
          <constructor>
          </constructor>
          <property name="Objects" propertyType="IObjectRegistry">
            <dependency/>
          </property>
        </register>
        <register type="IProfileRegistry" mapTo="ProfileRegistry" name="">
          <lifetime type="singleton"/>
        </register>
        <register type="IObjectRegistry" mapTo="ObjectRegistry" name="">
          <lifetime type="singleton"/>
          <constructor>
            <param name="path" parameterType="System.String">
              <value value="modules"/>
            </param>
          </constructor>
        </register>
        <register type="DockContent" mapTo="OutputPanel" name="Output">
          <lifetime type="singleton"/>
          <property name="Profiles" propertyType="IProfileRegistry">
            <dependency/>
          </property>
        </register>
        <register type="DockContent" mapTo="AgentProfilePanel" name="AgentProfile">
          <lifetime type="singleton"/>
          <property name="Profiles" propertyType="IProfileRegistry">
            <dependency/>
          </property>
        </register>
        <register type="DockContent" mapTo="MibTreePanel" name="MibTree">
          <lifetime type="singleton"/>
          <property name="Objects" propertyType="IObjectRegistry">
            <dependency/>
          </property>
          <property name="Profiles" propertyType="IProfileRegistry">
            <dependency/>
          </property>
          <property name="Manager" propertyType="Manager">
            <dependency/>
          </property>
        </register>
        <register type="DockContent" mapTo="NotificationPanel" name="Notification">
          <lifetime type="singleton"/>
          <property name="Listener" propertyType="Listener">
            <dependency/>
          </property>
          <property name="Objects" propertyType="IObjectRegistry">
            <dependency/>
          </property>
        </register>
        <register type="DockContent" mapTo="ModuleListPanel" name="ModuleList">
          <lifetime type="singleton"/>
          <property name="Objects" propertyType="IObjectRegistry">
            <dependency/>
          </property>
        </register>
      </container>
    </containers>
  </unity>
  <system.diagnostics>
    <sources>
      <source name="Browser" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="outputPanelListener"/>
        </listeners>
      </source>
      <source name="Library" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="outputPanelListener2"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information"/>
      <!-- Verbose switch -->
    </switches>
    <sharedListeners>
      <add name="outputPanelListener" type="Lextm.SharpSnmpLib.Browser.OutputPanelTraceListener, Browser">
        <!-- save to file -->
        <filter type="System.Diagnostics.SourceFilter" initializeData="Browser"/>
        <!-- for Library source only -->
      </add>
      <add name="outputPanelListener2" type="Lextm.SharpSnmpLib.Browser.OutputPanelTraceListener, Browser">
        <filter type="System.Diagnostics.SourceFilter" initializeData="Library"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
