<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<appSettings>
    <add key="CaptureEnabled" value="True" />
  </appSettings>-->
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;        Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,&#xD;&#xA;        Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <unity>
        <typeAliases>
            <typeAlias alias="NotificationPanel" type="Lextm.SharpSnmpLib.Browser.NotificationPanel, Browser" />
            <typeAlias alias="MibTreePanel" type="Lextm.SharpSnmpLib.Browser.MibTreePanel, Browser" />
            <typeAlias alias="ModuleListPanel" type="Lextm.SharpSnmpLib.Browser.ModuleListPanel, Browser" />
            <typeAlias alias="AgentProfilePanel" type="Lextm.SharpSnmpLib.Browser.AgentProfilePanel, Browser" />
            <typeAlias alias="DockContent" type="WeifenLuo.WinFormsUI.Docking.DockContent, WeifenLuo.WinFormsUI.Docking" />
            <typeAlias alias="IProfileRegistry" type="Lextm.SharpSnmpLib.Browser.IProfileRegistry, Browser" />
            <typeAlias alias="ProfileRegistry" type="Lextm.SharpSnmpLib.Browser.ProfileRegistry, Browser" />
            <typeAlias alias="IObjectRegistry" type="Lextm.SharpSnmpLib.Mib.IObjectRegistry, SharpSnmpLib.Mib" />
            <typeAlias alias="ObjectRegistry" type="Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry, SharpSnmpLib.Mib" />
            <typeAlias alias="OutputPanel" type="Lextm.SharpSnmpLib.Browser.OutputPanel, Browser" />
            <typeAlias alias="Manager" type="Lextm.SharpSnmpLib.Manager, SharpSnmpLib.Controls" />
            <typeAlias alias="Listener" type="Lextm.SharpSnmpLib.Listener, SharpSnmpLib.Controls" />
            <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,&#xD;&#xA;            Microsoft.Practices.Unity" />
        </typeAliases>
        <containers>
            <container>
                <types>
                    <type type="Listener" name="IPv4">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <constructor>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="Listener" name="IPv6">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <constructor>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="Manager">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <constructor>
                            </constructor>
                            <property name="Objects" propertyType="IObjectRegistry">
                                <dependency />
                            </property>
                        </typeConfig>
                    </type>
                    <type type="IProfileRegistry" mapTo="ProfileRegistry" name="">
                        <lifetime type="singleton" />
                    </type>
                    <type type="IObjectRegistry" mapTo="ObjectRegistry" name="">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <constructor>
                                <param name="path" parameterType="System.String">
                                    <value value="modules" />
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="DockContent" mapTo="OutputPanel" name="Output">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <property name="Profiles" propertyType="IProfileRegistry">
                                <dependency />
                            </property>
                        </typeConfig>
                    </type>
                    <type type="DockContent" mapTo="AgentProfilePanel" name="AgentProfile">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <property name="Profiles" propertyType="IProfileRegistry">
                                <dependency />
                            </property>
                        </typeConfig>
                    </type>
                    <type type="DockContent" mapTo="MibTreePanel" name="MibTree">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <property name="Objects" propertyType="IObjectRegistry">
                                <dependency />
                            </property>
                            <property name="Profiles" propertyType="IProfileRegistry">
                                <dependency />
                            </property>
                            <property name="Manager" propertyType="Manager">
                                <dependency />
                            </property>
                        </typeConfig>
                    </type>
                    <type type="DockContent" mapTo="NotificationPanel" name="Notification">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <property name="Listener" propertyType="Listener">
                                <dependency name="IPv4" />
                            </property>
                            <property name="ListenerV6" propertyType="Listener">
                                <dependency name="IPv6" />
                            </property>
                        </typeConfig>
                    </type>
                    <type type="DockContent" mapTo="ModuleListPanel" name="ModuleList">
                        <lifetime type="singleton" />
                        <typeConfig>
                            <property name="Objects" propertyType="IObjectRegistry">
                                <dependency />
                            </property>
                        </typeConfig>
                    </type>
                </types>
            </container>
        </containers>
    </unity>
    <system.diagnostics>
        <sources>
            <source name="Browser" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <remove name="Default" />
                    <add name="outputPanelListener" />
                </listeners>
            </source>
            <source name="Library" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <remove name="Default" />
                    <add name="outputPanelListener2" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="sourceSwitch" value="Information" />
            <!-- Verbose switch -->
        </switches>
        <sharedListeners>
            <add name="outputPanelListener" type="Lextm.SharpSnmpLib.Browser.OutputPanelTraceListener, Browser">
                <!-- save to file -->
                <filter type="System.Diagnostics.SourceFilter" initializeData="Browser" />
                <!-- for Library source only -->
            </add>
            <add name="outputPanelListener2" type="Lextm.SharpSnmpLib.Browser.OutputPanelTraceListener, Browser">
                <filter type="System.Diagnostics.SourceFilter" initializeData="Library" />
            </add>
        </sharedListeners>
    </system.diagnostics>
</configuration>