<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
		         type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
		Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,
		Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<unity>
		<typeAliases>
			<typeAlias alias="DocumentPanel" type="Lextm.SharpSnmpLib.Compiler.DocumentPanel, Compiler" />
			<typeAlias alias="DocumentListPanel" type="Lextm.SharpSnmpLib.Compiler.DocumentListPanel, Compiler" />
			<typeAlias alias="ModuleListPanel" type="Lextm.SharpSnmpLib.Compiler.ModuleListPanel, Compiler" />
			<typeAlias alias="DockContent" type="WeifenLuo.WinFormsUI.Docking.DockContent, WeifenLuo.WinFormsUI.Docking" />
			<typeAlias alias="IObjectRegistry" type="Lextm.SharpSnmpLib.Mib.IObjectRegistry, SharpSnmpLib" />
			<typeAlias alias="ObjectRegistry" type="Lextm.SharpSnmpLib.Mib.ObjectRegistry, SharpSnmpLib" />
			<typeAlias alias="OutputPanel" type="Lextm.SharpSnmpLib.Compiler.OutputPanel, Compiler" />
			<typeAlias alias="Manager" type="Lextm.SharpSnmpLib.Manager, SharpSnmpLib" />
			<typeAlias alias="Assembler" type="Lextm.SharpSnmpLib.Mib.Assembler, SharpSnmpLib" />
			<typeAlias alias="Parser" type="Lextm.SharpSnmpLib.Mib.Parser, SharpSnmpLib" />
			<typeAlias alias="Compiler" type="Lextm.SharpSnmpLib.Compiler.CompilerCore, Compiler" />
			<typeAlias alias="MainForm" type="Lextm.SharpSnmpLib.Compiler.MainForm, Compiler" />
			<typeAlias alias="singleton"
			           type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
			Microsoft.Practices.Unity" />
		</typeAliases>
		<containers>
			<container>
				<types>
					<type type="Compiler">
						<lifetime type="singleton" />
						<typeConfig>
							<property name="Parser" propertyType ="Parser">
								<dependency />
							</property>
              <property name="Assembler" propertyType ="Assembler">
                <dependency />
              </property>
						</typeConfig>
					</type>
					<type type="Parser">
					</type>
					<type type="Assembler">
						<lifetime type="singleton" />
						<typeConfig>
							<constructor>
								<param name="path" parameterType="System.String">
									<value value="modules" />
								</param>
							</constructor>
						</typeConfig>
					</type>
					<type type="Manager">
						<lifetime type="singleton" />
						<typeConfig>
							<property name="Objects" propertyType ="IObjectRegistry">
								<dependency />
							</property>
						</typeConfig>
					</type>
					<type type="IObjectRegistry" mapTo="ObjectRegistry" name="">
						<lifetime type="singleton" />
						<typeConfig>
							<constructor>
								<param name="path" parameterType="System.String">
									<value value="mibs" />
								</param>
							</constructor>
						</typeConfig>
					</type>
					<type type="DockContent" mapTo="OutputPanel" name="Output">
						<lifetime type="singleton" />
					</type>
					<type type="DockContent" mapTo="DocumentListPanel" name="DocumentList">
						<lifetime type="singleton" />
						<typeConfig>
							<property name="Compiler" propertyType="Compiler">
								<dependency />
							</property>
						</typeConfig>
					</type>
					<type type="DockContent" mapTo="ModuleListPanel" name="ModuleList">
						<lifetime type="singleton" />
						<typeConfig>
							<property name="Assembler" propertyType="Assembler">
								<dependency />
							</property>
							<property name="Compiler" propertyType="Compiler">
								<dependency />
							</property>
						</typeConfig>
					</type>
					<type type="MainForm" name="">
						<lifetime type="singleton" />
						<typeConfig>
							<property name="Compiler" propertyType="Compiler">
								<dependency />
							</property>
						</typeConfig>
					</type>
				</types>
			</container>
		</containers>
	</unity>
	
	<system.diagnostics>
		<sources>
			<source name="Compiler"
			        switchName="sourceSwitch"
			        switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<remove name="Default"/>
					<add name="outputPanelListener"/>
				</listeners>
			</source>
			<source name="Library"
			        switchName="sourceSwitch"
			        switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<remove name="Default"/>
					<add name="outputPanelListener2"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="Information"/>
			<!-- Verbose switch -->
		</switches>
		<sharedListeners>
			<add name="outputPanelListener"
			     type="Lextm.SharpSnmpLib.Compiler.OutputPanelTraceListener, Compiler">
				<filter type="System.Diagnostics.SourceFilter"
				        initializeData="Compiler" />
			</add>
			<add name="outputPanelListener2"
			     type="Lextm.SharpSnmpLib.Compiler.OutputPanelTraceListener, Compiler">
				<filter type="System.Diagnostics.SourceFilter"
				        initializeData="Library" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
	</appSettings>
</configuration>
