<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="SnmpDemon" type="Lextm.SharpSnmpLib.Agent.SnmpDemon, snmpd"/>
      <typeAlias alias="SnmpApplicationFactory" type="Lextm.SharpSnmpLib.Agent.SnmpApplicationFactory, snmpd"/>
      <typeAlias alias="Logger" type="Lextm.SharpSnmpLib.Agent.Logger, snmpd"/>
      <typeAlias alias="ObjectStore" type="Lextm.SharpSnmpLib.Agent.ObjectStore, snmpd"/>
      <typeAlias alias="Version1MembershipProvider" type="Lextm.SharpSnmpLib.Agent.Version1MembershipProvider, snmpd"/>
      <typeAlias alias="IMembershipProvider" type="Lextm.SharpSnmpLib.Agent.IMembershipProvider, snmpd"/>
      <typeAlias alias="MessageHandlerFactory" type="Lextm.SharpSnmpLib.Agent.MessageHandlerFactory, snmpd"/>
      <typeAlias alias="HandlerMappingArray" type="Lextm.SharpSnmpLib.Agent.HandlerMapping[], snmpd" />
      <typeAlias alias="HandlerMapping" type="Lextm.SharpSnmpLib.Agent.HandlerMapping, snmpd"/>
      <typeAlias alias="IMessageHandler" type="Lextm.SharpSnmpLib.Agent.IMessageHandler, snmpd"/>
      <typeAlias alias="GetMessageHandler" type="Lextm.SharpSnmpLib.Agent.GetMessageHandler, snmpd"/>
      <typeAlias alias="SetMessageHandler" type="Lextm.SharpSnmpLib.Agent.SetMessageHandler, snmpd"/>
      <typeAlias alias="GetNextMessageHandler" type="Lextm.SharpSnmpLib.Agent.GetNextMessageHandler, snmpd"/>
      <typeAlias alias="NullMessageHandler" type="Lextm.SharpSnmpLib.Agent.NullMessageHandler, snmpd"/>
      <typeAlias alias="OctetString" type="Lextm.SharpSnmpLib.OctetString, SharpSnmpLib"/>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="MessageHandlerFactory" name="MessageFactory">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="mappings" parameterType="HandlerMappingArray">
                  <array>
                    <dependency name="GET"/>
                    <dependency name="SET"/>
                    <dependency name="GETNEXT"/>
                    <dependency name="ALL"/>
                  </array>                  
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="HandlerMapping" name="GET">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="version" parameterType="System.String">
                  <value value="v1"/>
                </param>
                <param name="command" parameterType="System.String">
                  <value value="GET"/>
                </param>
                <param name="handler" parameterType="IMessageHandler">
                  <dependency name="GetHandler"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="HandlerMapping" name="SET">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="version" parameterType="System.String">
                  <value value="v1"/>
                </param>
                <param name="command" parameterType="System.String">
                  <value value="SET"/>
                </param>
                <param name="handler" parameterType="IMessageHandler">
                  <dependency name="SetHandler"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="HandlerMapping" name="GETNEXT">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="version" parameterType="System.String">
                  <value value="v1"/>
                </param>
                <param name="command" parameterType="System.String">
                  <value value="GETNEXT"/>
                </param>
                <param name="handler" parameterType="IMessageHandler">
                  <dependency name="GetNextHandler"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="HandlerMapping" name="ALL">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="version" parameterType="System.String">
                  <value value="*"/>
                </param>
                <param name="command" parameterType="System.String">
                  <value value="*"/>
                </param>
                <param name="handler" parameterType="IMessageHandler">
                  <dependency name="NullHandler"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="IMessageHandler" mapTo="GetMessageHandler" name="GetHandler">
            <lifetime type="singleton"/>
          </type>
          <type type="IMessageHandler" mapTo="SetMessageHandler" name="SetHandler">
            <lifetime type="singleton"/>
          </type>
          <type type="IMessageHandler" mapTo="GetNextMessageHandler" name="GetNextHandler">
            <lifetime type="singleton"/>
          </type>
          <type type="IMessageHandler" mapTo="NullMessageHandler" name="NullHandler">
            <lifetime type="singleton"/>
          </type>
          <type type="SnmpApplicationFactory">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="logger" parameterType="Logger">
                  <dependency/>
                </param>
                <param name="store" parameterType="ObjectStore">
                  <dependency/>
                </param>
                <param name="membershipProvider" parameterType="IMembershipProvider">
                  <dependency/>
                </param>
                <param name="factory" parameterType="MessageHandlerFactory">
                  <dependency/>
                </param>        
              </constructor>
            </typeConfig>
          </type>
          <type type="Logger">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
              </constructor>
            </typeConfig>
          </type>
          <type type="ObjectStore">
            <lifetime type="singleton"/>
          </type>
          <type type="IMembershipProvider" mapTo="Version1MembershipProvider">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="getCommunity" parameterType="OctetString">
                  <dependency name="get"/>
                </param>
                <param name="setCommunity" parameterType="OctetString">
                  <dependency name="set"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="OctetString" name="get">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="content" parameterType="System.String">
                  <value value="public"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="OctetString" name="set">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="content" parameterType="System.String">
                  <value value="public"/>
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="SnmpDemon">
            <lifetime type="singleton"/>
            <typeConfig>
              <constructor>
                <param name="factory" parameterType="SnmpApplicationFactory">
                  <dependency/>
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
