<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <!-- Register a section handler for the log4net section -->
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <!-- Enable internal debugging in log4net -->
    <appSettings>
        <!-- To enable internal log4net logging specify the following appSettings key -->
        <!-- <add key="log4net.Internal.Debug" value="true"/> -->
    </appSettings>
    <unity>
        <typeAliases>
            <typeAlias alias="SnmpDemon" type="Lextm.SharpSnmpLib.Agent.SnmpDemon, snmpd"/>
            <typeAlias alias="SnmpApplicationFactory" type="Lextm.SharpSnmpLib.Agent.SnmpApplicationFactory, snmpd"/>
            <typeAlias alias="Logger" type="Lextm.SharpSnmpLib.Agent.RollingLogger, snmpd"/>
            <typeAlias alias="ILogger" type="Lextm.SharpSnmpLib.Agent.ILogger, snmpd"/>
            <typeAlias alias="ObjectStore" type="Lextm.SharpSnmpLib.Agent.ObjectStore, snmpd"/>
            <typeAlias alias="Version1MembershipProvider" type="Lextm.SharpSnmpLib.Agent.Version1MembershipProvider, snmpd"/>
            <typeAlias alias="Version2MembershipProvider" type="Lextm.SharpSnmpLib.Agent.Version2MembershipProvider, snmpd"/>
            <typeAlias alias="ComposedMembershipProvider" type="Lextm.SharpSnmpLib.Agent.ComposedMembershipProvider, snmpd"/>
            <typeAlias alias="IMembershipProvider" type="Lextm.SharpSnmpLib.Agent.IMembershipProvider, snmpd"/>
            <typeAlias alias="IMembershipProviderArray" type="Lextm.SharpSnmpLib.Agent.IMembershipProvider[], snmpd"/>
            <typeAlias alias="MessageHandlerFactory" type="Lextm.SharpSnmpLib.Agent.MessageHandlerFactory, snmpd"/>
            <typeAlias alias="HandlerMappingArray" type="Lextm.SharpSnmpLib.Agent.HandlerMapping[], snmpd" />
            <typeAlias alias="HandlerMapping" type="Lextm.SharpSnmpLib.Agent.HandlerMapping, snmpd"/>
            <typeAlias alias="IMessageHandler" type="Lextm.SharpSnmpLib.Agent.IMessageHandler, snmpd"/>
            <typeAlias alias="GetMessageHandler" type="Lextm.SharpSnmpLib.Agent.GetMessageHandler, snmpd"/>
            <typeAlias alias="SetMessageHandler" type="Lextm.SharpSnmpLib.Agent.SetMessageHandler, snmpd"/>
            <typeAlias alias="GetNextMessageHandler" type="Lextm.SharpSnmpLib.Agent.GetNextMessageHandler, snmpd"/>
            <typeAlias alias="GetBulkMessageHandler" type="Lextm.SharpSnmpLib.Agent.GetBulkMessageHandler, snmpd"/>
            <typeAlias alias="NullMessageHandler" type="Lextm.SharpSnmpLib.Agent.NullMessageHandler, snmpd"/>
            <typeAlias alias="OctetString" type="Lextm.SharpSnmpLib.OctetString, SharpSnmpLib"/>
            <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
        </typeAliases>
        <containers>
            <container>
                <types>
                    <!-- message handler settings-->
                    <type type="MessageHandlerFactory" name="MessageFactory">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="mappings" parameterType="HandlerMappingArray">
                                    <array>
                                        <!-- here we only have four -->
                                        <dependency name="GET"/>
                                        <dependency name="SET"/>
                                        <dependency name="GETNEXT"/>
                                        <dependency name="GETBULK"/>
                                        <dependency name="ALL"/>
                                    </array>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="HandlerMapping" name="GET">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="version" parameterType="System.String">
                                    <value value="*"/>
                                </param>
                                <param name="command" parameterType="System.String">
                                    <value value="GET"/>
                                </param>
                                <param name="handler" parameterType="IMessageHandler">
                                    <dependency name="GetHandler"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="HandlerMapping" name="SET">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="version" parameterType="System.String">
                                    <value value="*"/>
                                </param>
                                <param name="command" parameterType="System.String">
                                    <value value="SET"/>
                                </param>
                                <param name="handler" parameterType="IMessageHandler">
                                    <dependency name="SetHandler"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="HandlerMapping" name="GETNEXT">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="version" parameterType="System.String">
                                    <value value="*"/>
                                </param>
                                <param name="command" parameterType="System.String">
                                    <value value="GETNEXT"/>
                                </param>
                                <param name="handler" parameterType="IMessageHandler">
                                    <dependency name="GetNextHandler"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="HandlerMapping" name="GETNULK">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="version" parameterType="System.String">
                                    <value value="v2"/>
                                </param>
                                <param name="command" parameterType="System.String">
                                    <value value="GETBULK"/>
                                </param>
                                <param name="handler" parameterType="IMessageHandler">
                                    <dependency name="GetBulkHandler"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="HandlerMapping" name="ALL">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="version" parameterType="System.String">
                                    <value value="*"/>
                                </param>
                                <param name="command" parameterType="System.String">
                                    <value value="*"/>
                                </param>
                                <param name="handler" parameterType="IMessageHandler">
                                    <dependency name="NullHandler"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="IMessageHandler" mapTo="GetMessageHandler" name="GetHandler">
                        <lifetime type="singleton"/>
                    </type>
                    <type type="IMessageHandler" mapTo="SetMessageHandler" name="SetHandler">
                        <lifetime type="singleton"/>
                    </type>
                    <type type="IMessageHandler" mapTo="GetNextMessageHandler" name="GetNextHandler">
                        <lifetime type="singleton"/>
                    </type>
                    <type type="IMessageHandler" mapTo="GetBulkMessageHandler" name="GetBulkHandler">
                        <lifetime type="singleton"/>
                    </type>
                    <type type="IMessageHandler" mapTo="NullMessageHandler" name="NullHandler">
                        <lifetime type="singleton"/>
                    </type>
                    <!-- application factory and its parts -->
                    <type type="SnmpApplicationFactory">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="logger" parameterType="ILogger">
                                    <dependency/>
                                </param>
                                <param name="store" parameterType="ObjectStore">
                                    <dependency/>
                                </param>
                                <param name="membershipProvider" parameterType="IMembershipProvider">
                                    <dependency name="Composed"/>
                                </param>
                                <param name="factory" parameterType="MessageHandlerFactory">
                                    <dependency/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="ILogger" mapTo="Logger">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="ObjectStore">
                        <lifetime type="singleton"/>
                    </type>
                    <!-- this is the membership provider -->
                    <type type="IMembershipProvider" mapTo="ComposedMembershipProvider" name="Composed">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="providers" parameterType="IMembershipProviderArray">
                                    <array>
                                        <dependency name="v1"/>
                                        <dependency name="v2"/>
                                    </array>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="IMembershipProvider" mapTo="Version1MembershipProvider" name="v1">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="getCommunity" parameterType="OctetString">
                                    <dependency name="get"/>
                                </param>
                                <param name="setCommunity" parameterType="OctetString">
                                    <dependency name="set"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="IMembershipProvider" mapTo="Version2MembershipProvider" name="v2">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="getCommunity" parameterType="OctetString">
                                    <dependency name="get"/>
                                </param>
                                <param name="setCommunity" parameterType="OctetString">
                                    <dependency name="set"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="OctetString" name="get">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="content" parameterType="System.String">
                                    <value value="public"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <type type="OctetString" name="set">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="content" parameterType="System.String">
                                    <value value="public"/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                    <!-- finally we construct the demon -->
                    <type type="SnmpDemon">
                        <lifetime type="singleton"/>
                        <typeConfig>
                            <constructor>
                                <param name="factory" parameterType="SnmpApplicationFactory">
                                    <dependency/>
                                </param>
                            </constructor>
                        </typeConfig>
                    </type>
                </types>
            </container>
        </containers>
    </unity>
    <!-- This section contains the log4net configuration settings -->
    <log4net>
        <!-- Define some output appenders -->
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="snmp" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyMMdd" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline" />
            </layout>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <level value="WARN" />
        </root>
        <!-- Specify the level for some specific categories -->
        <logger name="Lextm.SharpSnmpLib.Agent.RollingLogger">
            <level value="ALL" />
            <appender-ref ref="RollingLogFileAppender" />
        </logger>
    </log4net>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
